mixin article(title, date, article_path)
  article
    .row.article-header
      .col-md-12
        h1.post-title
            a(href="/" + article_path)= title
      .col-md-12
        i.fa.fa-calendar.fa-lighter
        = " " + moment(date, "YYYY-MM-DD HH:mm").format("MMMM DD YYYY")
    .row.justified
      .col-md-12
        block

mixin article_excerpt(title, date, article_path)
  article
    .row.article-header
      .col-md-9
        h2.post-title
            a(href="/" + article_path)= title
      .col-md-3
        span.pull-xs-right
          i.fa.fa-calendar.fa-lighter
          = " " + moment(date, "YYYY-MM-DD HH:mm").format("MMMM DD YYYY")
    .row.justified
      .col-md-12
        block

mixin blogheader
  header.row
    .col-xs-8
      a(href="/blog/")= "Software! Math! Data! "
      span.hidden-md-down.light-text The blog of R. Sean Bowman
    .col-xs-4
      .pull-right
        a(href="/")
          i.fa.fa-home
          = " Home"
    .col-xs-12.hidden-lg-up
      span.light-text The blog of R. Sean Bowman

mixin sidebar
  .col-md-3
    .card.card-block
      h4.card-title About me
      ul.list-unstyled.list-sm-spacing.m-b-0
        li
          i.fa.fa-flask.icon-fixed-width
          a(href="/blog/")= " Blog"
        li
          i.fa.fa-book.icon-fixed-width
          a(href="/publications/")= " Publications"
        li
          i.fa.fa-university.icon-fixed-width
          a(href="/mathematics/")= " Mathematics"
        li
          i.fa.fa-graduation-cap.icon-fixed-width
          a(href="/teaching/")= " Teaching"
        li
          i.fa.fa-lightbulb-o.icon-fixed-width
          a(href="/projects/")= " Past projects"

    .card.card-block
      h4.card-title Links
      ul.list-unstyled.m-b-0
        li
          i.fa.fa-github.icon-fixed-width
          a(href="http://github.com/rsbowman")
            = " Github"
        li
          i.fa.fa-linkedin.icon-fixed-width
          a(href="http://www.linkedin.com/in/rseanbowman/")
            = " Linkedin"

mixin mugshot
  header
    .row
      .col-md-4
        a(href="/")
          img.img-fluid.img-rounded.center-block#headshot(src="/assets/images/me.jpg", alt="Me", width=325)
      .col-md-8
        h1#myname
          a(href="/") R. Sean Bowman
        p#mytagline Software developer, Mathematician, Teacher
        ul
          li
            a(href="/blog/") Blog
          li
            a(href="/documents/resume.pdf") Resume (pdf)
          li
            a(href="http://www.linkedin.com/in/rseanbowman/") Linkedin profile
          li
            a(href="/experience/") Experience

doctype html
html
  head
    link(href="/assets/css/styles.min.css", rel="stylesheet", type="text/css")
    script(async, src="/assets/js/scripts.min.js")
    script.
      WebFontConfig = {
        google: { families: [ "Merriweather::latin", "Roboto::latin" ] },
        active: function() {
          $("body").flowtype({
            minimum   : 500,
            maximum   : 1200,
            minFont   : 14,
            maxFont   : 24,
            fontRatio : 40
          });
          $("#myname").fitText();
          hljs.initHighlightingOnLoad();
          anchors.add(".page-content h1,.page-content h2,.page-content h3,.page-content h4,.page-content h5");
        }
      };
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title
      if title
        =title + " - The website of R. Sean Bowman"
      else
        = "Software!  Math!  Data!  The website of R. Sean Bowman"

    if mathjax
      script(type="text/javascript").
        window.MathJax = {
          styles: {
            ".MathJax_SVG svg > g, .MathJax_SVG_Display svg > g":  {
              fill: "#333",
              stroke: "#333"
            },
            ".MathJax": { color: "#333" }
          },
          extensions: ["tex2jax.js"],
          jax: ["input/TeX", "output/SVG"],
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
          TeX: {
            extensions: ["AMSmath.js", "AMSsymbols.js", "/assets/js/xypic.js"],
            Macros: {
              CC: "\\mathcal{C}",
              DD: "\\mathcal{D}",
              R: "\\mathbb{R}",
              Z: "\\mathbb{Z}",
              N: "\\mathbb{N}",
              ModA: "\\mathfrak{A}",
              ModB: "\\mathfrak{B}",
              ModN: "\\mathfrak{N}",
              sqle: "\\sqsubseteq",
              gnum: ["\\ulcorner#1\\urcorner", 1],
              denote: ["{[\\![#1]\\!]}", 1],
              allsuchthat: ["\\left\\{#1\\;\\colon\\;#2\\right\\}", 2],
              defeq: "\\triangleq",
              lang: ["\\mathcal{#2}_{#1}", 2, ""],
              implies: "\\Rightarrow",
              models: "\\vDash",
              nmodels: "\\nvDash",
              st: "\\ldotp", // "quantifier period" ... ? bleh
              set: ["\\left\\{#1\\right\\}", 1],
              Mod: "\\operatorname{Mod}",
              seqaxiom: ["\\displaystyle{\\over#1}", 1],
              seqrulea: ["\\dfrac{#1}{#2}{\\small\\color{Gray}{#3}}", 3],
              seqruleb: ["\\dfrac{#1\\qquad#2}{#3}{\\small\\color{Gray}{#4}}", 4]
            }
          }
        };
      script(async, src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.3.0/MathJax.js")
      //- script(async, src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.4/MathJax.js")
      //- script(src="/assets/js/MathJax.js", type="text/javascript")

    if stylesheets
      each style_url in stylesheets
        link(href=style_url, rel="stylesheet", type="text/css")

    if scripts
      each script_url in scripts
        script(src=script_url)

  body
    .container
      block header

      block main

      footer
        p.text-xs-center.m-b-0
          small &copy; 2012&ndash;<script type="text/javascript">document.write((new Date()).getFullYear());</script>
            a(href="/")= " R. Sean Bowman "
            | -
            a(href="/blog")= " Blog"
        p.text-xs-center.m-t-0
          small
            | This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            | Creative Commons Attribution 4.0 International License</a>.

    script(type="text/javascript").
      var clicky_site_ids = clicky_site_ids || [];
      clicky_site_ids.push(66531982);
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//static.getclicky.com/js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();
    noscript
      p
        img(alt="Clicky", width="1", height="1", src="//in.getclicky.com/66531982ns.gif")
